---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro'
import { getCollection } from "astro:content";

const pets = await getCollection('pets', (pet) => {
    return !pet.data.ishide
})
---

<Layout title="Pets">
    <h1>Pets</h1>
    <ul>
        {pets.map(pet => (
            <li class="border border-gray-300 rounded p-4">
                {pet.data.name} ({pet.data.description}) [${pet.data.price}]
            </li>
        ))}
    </ul>
</Layout>